{%extends 'base.html' %}

{%block title%}
{{anime.title}}
{%endblock%}

{%block body%}
{{super()}}
<div class="container">

    <div class="row">
        <h1>
            {{anime.title}}
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <h2>Anime stats</h2>
                <table class="table">
                    <tr>
                        <td>Episodes</td>
                        <td>{{anime.episodes}}</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td><a href="#">{{anime.year}}</a></td>
                    </tr>
                    <tr>
                        <td>Season</td>
                        <td><a href="#">{{anime.season}}</a></td>
                    </tr>
                    <tr>
                        <td>Source</td>
                        <td>{{anime.source }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{anime.type}}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{anime.rating}}</td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td>{{anime.score}}</td>
                    </tr>
                    <tr>
                        <td>Genres</td>
                        <td>
                        {%for genre in genres%}
                            <a href="#">{{genre.name}}</a>
                        {%endfor%}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h5>Synopsis</h5>
                <p>
                    {{anime.synopsis}}
                </p>
            </div>
            <div class="row">
                {%if current_user.is_authenticated %}
                <input type="hidden" id="csrf-token" value="{{csrf_token()}}">
                <input type="hidden" name="username" value="{{current_user.username}}">
                <input type="hidden" name="anime-id" value="{{anime.mal_id}}">
                <input type="hidden" id="action" value="{{'remove' if user_info['in_list'] else 'add'}}">
                <div class="d-md-block mb-3">
                    <button type="button" name="list-edit-button"
                        class="btn {{'btn-warning' if user_info['in_list'] else 'btn-primary'}}"
                        onclick="{{'removeFromList()' if user_info['in_list'] else 'addToList()'}}">
                    {%if user_info['in_list'] %}
                    Remove
                    {%else%}
                    Add
                    {%endif%}
                </button>
                </div>
                {%else%}
                    <p>
                        Login to view your stats
                    </p>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <h5>Comments</h5>
            {%if not comments%}
                <p>No comments here yet</p>
            {%else%}
                <ul>
                    {%for comment in comments%}
                    <h6>
                        <a href="{{url_for('users.user_by_username', username=comment['username'])}}">
                            {{comment['username']}}
                        </a>
                    </h6>
                    <p>
                        {{comment['content']}}
                    </p>
                    {%endfor%}
                </ul>
            {%endif%}
        </div>

        {%if current_user.is_authenticated%}
            <div class="row">
                <form action="{{url_for('anime.post_comment', id_ = anime.mal_id)}}" method="POST">
                    {{comment_form.csrf_token}}
                    {{comment_form.content}}
                    <button type="submit" class="btn btn-primary">
                        Comment
                    </button>
                </form>
            </div>
        {%endif%}
    </div>
</div>
<script src="{{url_for('static', filename='js/anime_in_list.js')}}"></script>
{%endblock%}