{%extends 'base.html' %}

{%block title%}
{{anime.title}}
{%endblock%}

{%block body%}
{{super()}}
<div class="container">
    <!-- Anime title-->
    <div class="row">
        <div class="col-sm-4">
            <h1>
                {{anime.title}}
            </h1>
        </div>
    </div>

    <!-- Row for img, stats and franchise list-->
    <div class="row">
        <div class="col">
            <img src="{{anime.image_url}}">
        </div>

        <!-- Anime stats -->
        <div class="col">
            <table class="table">
                <tr>
                    <td>Episodes</td>
                    <td>{{anime.episodes}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td><a href="#">{{anime.year}}</a></td>
                </tr>
                <tr>
                    <td>Season</td>
                    <td><a href="#">{{anime.season}}</a></td>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>{{anime.source }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{anime.type}}</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>{{anime.rating}}</td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>{{anime.score}}</td>
                </tr>
                <tr>
                    <td>Genres</td>
                    <td>
                    {%for genre in genres%}
                        <a href="#">{{genre.name}}</a>
                    {%endfor%}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <h2>Franchise</h2>
        </div>
    </div><!-- Row for img, stats and franchise list-->

    <!-- Synopsis -->
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="rown bg-secondary">
                    <h4>Synopsis</h4>
                </div>
                <p>
                    {{anime.synopsis}}
                </p>
            </div>
            <div class="row">
                {%if current_user.is_authenticated %}
                    <input type="hidden" id="csrf-token" value="{{csrf_token()}}">
                    <input type="hidden" name="username" value="{{current_user.username}}">
                    <input type="hidden" name="anime-id" value="{{anime.mal_id}}">
                    <input type="hidden" id="action" value="{{'remove' if in_list else 'add'}}">
                    <div class="col-sm-2 mb-3">
                        <button type="button" name="list-edit-button"
                            class="btn {{'btn-warning' if in_list else 'btn-primary'}}"
                            onclick="{{'removeFromList()' if in_list else 'addToList()'}}">
                        {%if in_list %}
                        Remove
                        {%else%}
                        Add
                        {%endif%}
                        </button>
                    </div>
                    {%if in_list%}
                    <div class="col-sm-3">
                        <select class="form-select" aria-label="Default select example">
                            <option {{'selected' if True }} name="watching" value="watching" class="text-success">Watching</option>
                            <option {{'completed' if True }} name="completed" value="completed" class="text-primary">Completed</option>
                            <option name="dropped" value="dropped" class="text-secondary">Dropped</option>
                            <option name="remove" value="remove" class="text-danger">Remove</option>
                        </select>
                    </div>
                    {%endif%}
                {%else%}
                    <p>
                        Login to view your stats
                    </p>
                {%endif%}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row bg-secondary">
            <h5>Comments</h5>
        </div>
        {%if not comments%}
            <p>No comments here yet</p>
        {%else%}
            {%for comment in comments%}
            <h6>
                <a href="{{url_for('users.user_by_username', username=comment.username)}}">
                    {{comment.username}}
                </a>
            </h6>
            <p>
                {{comment.content}}
            </p>
            {%endfor%}
        {%endif%}
    </div>

    <!-- Comments Form-->
    <div class="row">
        {%if current_user.is_authenticated%}
        <form action="{{url_for('anime.post_comment', id_ = anime.mal_id)}}" method="POST">
            {{comment_form.csrf_token}}
            {{comment_form.content}}
            <button type="submit" class="btn btn-primary">
                Comment
            </button>
        </form>
        {%else%}
            <p> <a href="{{url_for('auth.login')}}">Login</a> to write a comment</p>
        {%endif%}
    </div>
</div>
<script src="{{url_for('static', filename='js/anime_in_list.js')}}"></script>
{%endblock%}