{%extends 'base.html' %}

{%block title%}
{{anime.title}}
{%endblock%}

{%block body%}
{{super()}}
<div class="container">

    <div class="row">
        <h1>
            {{anime.title}}
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <h2>Anime stats</h2>
                <table class="table">
                    <tr>
                        <td>Episodes</td>
                        <td>{{anime.episodes}}</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td><a href="#">{{anime.year}}</a></td>
                    </tr>
                    <tr>
                        <td>Season</td>
                        <td><a href="#">{{anime.season}}</a></td>
                    </tr>
                    <tr>
                        <td>Source</td>
                        <td>{{anime.source }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{anime.type}}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{anime.rating}}</td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td>{{anime.score}}</td>
                    </tr>
                    <tr>
                        <td>Genres</td>
                        <td>
                        {%for genre in genres%}
                            <a href="#">{{genre.name}}</a>
                        {%endfor%}
                        </td>
                    </tr>
                </table>
                {%if current_user.is_authenticated %}
                    {%if not user_info['in_list']%}
                        <form action="{{url_for('users.add_anime', username=current_user.username)}}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            <input type="hidden" name="anime_id" value="{{anime.mal_id}}">
                            <button type="submit" class="btn btn-primary">
                                Add to list
                            </button>
                        </form>
                    {%else%}
                        <form>
                            <button class="btn btn-primary">
                                Remove from list
                            </button>
                        </form>
                    {%endif%}
                {%else%}
                    <p>
                        Login to view your stats
                    </p>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h5>Synopsis</h5>
                <p>
                    {{anime.synopsis}}
                </p>
            </div>
        </div>
        {%if current_user.is_authenticated%}
            <div class="row">
                <form action="{{url_for('anime.post_comment', id_ = anime.mal_id)}}" method="POST">
                    {{comment_form.csrf_token}}
                    {{comment_form.content}}
                    <button type="submit" class="btn btn-primary">
                        Comment
                    </button>
                </form>
            </div>
        {%endif%}

        <div class="row">
            {%if not comments%}
                <p>No comments here yet</p>
            {%else%}
                <ul>
                    {%for comment in comments%}
                    <h6>
                        <a href="{{url_for('users.user_by_username', username=comment['username'])}}">
                            {{comment['username']}}
                        </a>
                    </h6>
                    <p>
                        {{comment['content']}}
                    </p>
                    {%endfor%}
                </ul>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}