{%extends 'base.html'%}

{%block title%}
    Anibase
{% endblock %}

{%block body%}
{{super()}}

<div class="container">
    <div class="row">
        <h1>Anibase</h1>
    </div>

    <div class="row">
        <div class="col">
            <p>{{anime[0].year}} top anime</p>
            <ul>
                {%for a in anime%}
                    <li><a href={{"/anime/%d" % a.mal_id}}>{{a.title}}</a></li>
                {%endfor%}
            </ul>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin vehicula porta. Pellentesque
                in magna placerat, tincidunt odio nec, luctus purus. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Integer neque nisi, pulvinar id auctor non, ornare id risus.
                Nullam sed libero venenatis, facilisis risus imperdiet, mattis enim. Pellentesque pharetra rutrum enim
                quis finibus. Nullam quis lectus eget elit varius dignissim. Pellentesque tincidunt, purus id condimentum
                consequat, enim nulla molestie velit, sit amet consectetur enim magna sed quam. Maecenas diam nisi,
                sodales eu suscipit at, fermentum ut risus. Etiam tristique libero leo, dapibus consectetur orci varius
                in. Phasellus aliquam ac nunc vel dapibus. Mauris ullamcorper turpis a rhoncus mollis. In eget augue
                ongue, viverra ante quis, dapibus mi. Nulla elementum libero vitae finibus consectetur.
            </p>
            <p>
                  Praesent bibendum dictum turpis. In tempus sem purus, quis consequat ipsum placerat sit amet. Orci
                varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu commodo
                justo. Phasellus quis purus ut turpis imperdiet tristique. Morbi tempor elit iaculis ante scelerisque
                vehicula. Integer euismod magna ac luctus ornare. Proin eu venenatis mauris. Aenean nec quam a dolor
                cursus fringilla. Ut eu purus scelerisque tortor interdum dapibus. Mauris lacus nunc, fermentum vel
                fermentum eu, pretium vel lorem. Fusce eget nulla purus. Vivamus malesuada nulla a egestas eleifend.
                Cras nec leo cursus, molestie velit non, pretium mi.
            </p>
            <p>
                Suspendisse potenti. Duis bibendum ligula at viverra laoreet. Maecenas a scelerisque ante. Phasellus
                eleifend elementum nulla vitae finibus. Etiam interdum sollicitudin nisl id mattis. Maecenas tempus
                dolor nec mauris faucibus, quis molestie nibh varius. Duis congue risus a lacus maximus faucibus.
                Nunc et metus vel elit auctor venenatis sed et odio. In in nulla elementum, pretium nulla a, auctor
                urna. Vivamus malesuada tincidunt ornare. Donec gravida eleifend odio, in aliquam felis rutrum eget.
                Vestibulum venenatis ipsum lorem, at dictum metus placerat nec. Vivamus sagittis luctus eros, ut
                eleifend arcu sagittis interdum. Etiam eu elit ac lectus ornare condimentum sed sit amet lacus.
                Duis at ipsum arcu.
            </p>
        </div>
    </div>
</div>
{%endblock%}