{%extends 'base.html'%}

{%block title%}Profile{%endblock%}

{%block body%}
{{super()}}

<div class="container">
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col">
            <div class="row">
                <p>
                    Hello {{current_user.username}}
                </p>
            </div>
        </div>
        <div class="col">
            <p>{{current_user.username}} list</p>
            <ul>
                {%for a in anime%}
                    <li><a href="{{url_for('views.anime_by_id', id_=a.mal_id)}}">{{a.title}}</a></li>
                {%endfor%}
            </ul>
        </div>
        {%endif %}
    </div>
</div>
{%endblock%}