{%extends 'base.html'%}

{%block title%}
    {{season.title()}} {{year}}
{% endblock %}

{%block body%}
{{super()}}
<div class="container">
<h1>{{season.title()}} {{year}}</h1>
    <div class="mb-3">
    <table class="table table-striped">
            <tr>
                <td></td>
                <td>Title</td>
                <td>Score</td>
                <td>Year</td>
                <td>Season</td>
            </tr>
            {%for a in anime%}
            <tr>
                <td><img src="{{a.image_url}}" width="50px" height="60px"/></td>
                <td><a href="{{url_for('anime.anime_by_id', id_=a.mal_id)}}">{{a.title}}</a></td>
                <td>{{a.score}}</td>
                <td>{{a.year}}</td>
                <td>{{a.season}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}