{% extends 'base.html' %}

{%block title%} Registration {%endblock%}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2>Sign up</h2>
        <form method="POST" action="/signup">
            {{reg_form.csrf_token}}
            {% for field in reg_form if field.name != 'csrf_token' %}
                <div class="form-group">
                    <div class="row">
                        {{field.label}}
                    </div>
                    <div class="row">
                        {{field}}
                    </div>
                    <div class="row">
                        {%for error in field.errors%}
                            <p>{{error}}</p>
                        {%endfor%}
                    </div>
                </div>
            {%endfor%}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{%endblock%}