{%extends 'base.html'%}

{%block title%}Profile{%endblock%}

{%block body%}
{{super()}}

<div class="container">
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col">
            <div class="row">
                <p>
                    {{user.username}}
                </p>
                {%if user.id == current_user.id%}
                    <p>
                        Edit profile button will be here!
                    </p>
                {%endif%}
            </div>
        </div>
        <div class="col">
            <p>{{user.username}} list</p>
            <ul>
                {%for a in user_anime%}
                    <li><a href="{{url_for('views.anime_by_id', id_=a.mal_id)}}">{{a.title}}</a></li>
                {%endfor%}
            </ul>
        </div>
        {%endif %}
    </div>
</div>
{%endblock%}